/*index.html css code*/
.container-fluid {
  margin-left: 45px;
}
.navbar-brand {
  color: #009688;
  font-weight: 500;
}
.navbar-brand:hover {
  color: #009688;
}
.rightNav {
  margin-left: 550px;
}
.homeRow {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.cards {
  width: 400px;
  height: 410px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 15px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.cards:hover {
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
}
.cards a {
  text-decoration: none;
  color: #777;
}
.cardImg {
  width: 100%;
  height: 200px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.cardTitle {
  color: #0083ab;
  margin-bottom: 10px;
  font-family: sans-serif;
}
.cardText {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}
.cardDetails {
  padding: 10px 15px;
}
.midCards {
  margin-top: 20px;
  width: 500px;
  height: 150px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.15);
  font-family: "Poppins", sans-serif;
}
.column {
  display: flex;
  flex-direction: column;
}
#secMidCard,
#forthMidCard {
  background-color: #0d6efd;
  color: #fff;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 100px;
  background-color: #02305c;
  color: #fff;
  height: 70px;
}
.leftSide {
  margin-top: -15px;
  display: flex;
  align-items: center;
}
footer ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 50px;
  box-sizing: border-box;
  margin-top: 25px;
}
footer ul li {
  margin-right: 15px;
}
footer ul li a i {
  width: 40px;
  height: 40px;
  color: #fff;
}
.footImg {
  margin-left: 25px;
  width: 40px;
  height: 40px;
}
.formNav {
  display: flex;
}

.indexDiv {
  width: 100%;
  height: 500px;
  background-image: url(https://www.adele.com/images/bg.jpg);
  position: relative;
  margin-bottom: 300px;
  box-sizing: border-box;
}
.btnIndexDiv {
  position: absolute;
  top: 10%;
  left: 10%;
}

#indexButton1 {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 12px 18px;
  text-align: center;
  transition: all 0.25s;
}

#indexButton1:hover {
  background-color: #ffc229;
  color: #fff;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.075);
}

#indexButton1:active {
  transform: scale(1.025);
}

.biodataDiv {
  width: 70%;
  height: 530px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 1px 6px 12px #ddd;
  position: absolute;
  top: 30%;
  left: 15%;
  display: flex;
}

#myImage img {
  width: 400px;
  height: 480px;
  border: 3px solid rgb(76, 249, 76);
}
#biodata {
  margin-left: 70px;
  margin-top: 20px;
}
#paraIndex2 {
  margin: 20px 0px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
#paraIndex3 {
  color: #444;
  font-family: "Raleway", sans-serif;
}
#iconsDiv {
  margin-top: 30px;
  color: #777;
}

#iconsDiv p span {
  margin-left: 10px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .indexDiv {
    height: 220px;
    margin-bottom: 150px;
  }
  .btnIndexDiv {
    top: 7%;
    left: 4%;
  }
  #indexButton1 {
    padding: 8px 12px;
    font-size: 12px;
  }
  .biodataDiv {
    width: 92%;
    height: 230px;
    padding: 5px;
    top: 35%;
    left: 4%;
  }

  #myImage img {
    width: 160px;
    height: 220px;
    border: 1px solid rgb(76, 249, 76);
  }
  #biodata {
    margin-left: 8px;
    margin-top: 5px;
  }
  #paraIndex1 {
    font-size: 10px;
  }
  #biodata h1 {
    font-size: 16px;
    margin: 0;
    margin-top: -10px;
  }
  #paraIndex2 {
    margin: 8px 0px;
    font-size: 6px;
  }
  #paraIndex3 {
    font-size: 6px;
  }
  #iconsDiv {
    margin-top: -8px;
  }
  #iconsDiv p {
    font-size: 6px;
    margin: 0;
    margin-bottom: 2px;
  }
  #iconsDiv p span {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .rightNav {
    margin-left: 0;
    margin-top: 10px;
  }
  .container-fluid {
    margin-left: 0;
  }
  .homeRow {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    width: 90%;
    height: 410px;
    margin: 10px 10px 0px 0px;
  }
  .cardImg {
    height: auto;
  }
  .midCards {
    width: 90%;
    margin: 10px 0px 10px 15px;
    padding: 10px;
    height: 120px;
  }
  .blockquote {
    font-size: 15px;
  }
  .cardTitle {
    font-size: 18px;
  }

  .cardText {
    font-size: 13px;
  }

  .midCards {
    font-size: 14px;
  }
  footer {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .leftSide {
    margin-top: 10px;
    margin-right: 10px;
  }
  .leftSide .creator {
    font-size: 13px;
  }

  footer ul {
    justify-content: center;
    margin: 15px 0;
    margin-right: 50px;
  }

  footer ul li {
    margin: 0 10px;
  }
  footer ul li a i {
    width: 20px;
    height: 10px;
  }
  footer ul li a i:hover {
    color: #0db3a3;
  }

  .footImg {
    margin: 0;
    width: 30px;
    height: 30px;
  }
}

/*home-info html css code*/
#info_main {
  margin: 40px 10%;
}
.para {
  margin-top: 20px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
.aloneDiv {
  margin-bottom: 30px;
}
.aloneDiv h1 {
  font-size: 28px;
  color: #0083ab;
}
.home_info3_images {
  width: 370px;
  height: 300px;
  margin: 20px 0 10px 410px;
}

@media (max-width: 768px) {
  #info_main {
    margin: 40px 8%;
  }
  .para {
    font-size: 14px;
  }
  .aloneDiv {
    margin-bottom: 20px;
  }
  .aloneDiv h1 {
    font-size: 20px;
    font-weight: 600;
  }
  .home_info3_images {
    width: 250px;
    height: 200px;
    margin: 10px 10px 10px 0px;
  }
}

/*Project page css code*/

.proHead {
  text-align: center;
  color: #0083ab;
}
.cardContainer {
  padding: 10px;
  margin: 40px 14% 40px 17%;
  padding-left: 0px;
}
.rowCard {
  display: flex;
}
.projectCards {
  margin: 10px;
  width: 30%;
  height: 450px;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d6e6f4;
  box-shadow: 0px 2px 10px #ddd;
}
.projectCards a {
  font-size: 14px;
  text-decoration: none;
  margin-left: 15px;
}
.projectCards span {
  font-size: 14px;
  font-weight: 300px;
  color: #000;
  font-family: sans-serif;
}
.cardimage {
  width: 100%;
  height: 210px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.cardtitle {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 20px 0px;
  opacity: 0.98;
}
.name {
  color: #0096ff !important;
  margin-left: 20px;
}
.cardpara {
  padding: 10px 20px 0px 20px;
  margin-top: 3px;
  opacity: 0.7;
  line-height: 1.43;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}
.pro-btn {
  color: #34495e;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  border: 1px solid #34495e;
  transition: linear 0.2s;
}
.pro-btn:hover {
  color: #fff;
  background-color: #34495e;
}

.skills-section {
  text-align: center;
  padding: 50px;
  margin: 50px 0px 0px;
}

.skills-section h1 {
  color: #0083ab;
  margin-bottom: 40px;
}

.skill-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #798c99;
  text-align: center;
  padding: 20px;
  margin: 20px 30px;
  transition: transform 0.3s;
  cursor: auto;
  display: inline-block;
  width: 300px;
  position: relative;
}

.skill-card p {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #495057;
}

.skill-card .skill-icon {
  width: 70px;
  height: 70px;
}

.skill-card .skill-icon-trio {
  width: 130px;
  height: 70px;
}

.skill-card .skill-icon-alone {
  width: 60px;
  height: 65px;
}

.skill-card .skill-area {
  width: 70%;
  height: 40px;
  background-color: #058d7f;
  position: absolute;
  left: 45px;
  border-radius: 20px;
}

.skill-area h6 {
  color: #fff;
  margin-top: 10px;
}

#life-interest-section {
  margin: 70px 0 10px 15%;
}

#life-interest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 80%;
  margin-top: 20px;
}

#life-interest-div {
  display: flex;
  margin-left: 32%;
}

#life,
#interest {
  padding: 15px 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  background-color: #d2c9f8;
  color: #7a5ded;
}

#life.active,
#interest.active {
  background-color: #8d72f9;
  color: #fff;
}

#gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.life-interest-image-container {
  flex: 1 0 23%;
  margin: 10px;
  overflow: hidden;
}

.life-interest-image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.life-interest-image-container img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .skill-card {
    width: 85%;
    padding: 10px;
  }

  .skills-section {
    text-align: left;
    padding: 0;
    margin-right: 20px !important;
  }

  .skills-section h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .skill-card .skill-area {
    width: 72%;
    top: 150px;
    left: 37px;
  }

  .skill-card p {
    margin-bottom: 25px !important;
  }

  #life-interest-section {
    margin: 70px 0 10px 0%;
  }

  #life-interest-container {
    width: 90%;
    margin-left: 15px;
    margin-top: 10px;
  }

  #life-interest-div {
    margin-left: 20%;
  }

  #life,
  #interest {
    padding: 12px 18px;
    margin: 8px;
    font-size: 16px;
  }

  #gallery {
    padding: 8px;
    flex-direction: column;
  }

  .life-interest-image-container {
    margin: 5px;
  }

  .life-interest-image-container img {
    height: 130px;
    width: 260px;
  }
}

@media (max-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .rowCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projectCards {
    width: 130%;
    height: 410px;
  }
  .name {
    margin-left: 15px;
  }
  .cardpara {
    font-size: 13px;
    padding-left: 15px;
  }
  .cardtitle {
    padding: 10px 15px 0px;
  }
  .cardimage {
    height: 190px;
  }
  .pro-btn {
    margin-left: 0;
  }
}
